body{
    min-height: 3000px;
}

.jumbotron{
    padding-top: 7rem;
    background-color: #e2edff;
}

#album{
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}


.tbl-link{
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}